[data-theme='dark'] {
  --background: oklch(0.15 0 0);
  --muted: oklch(0.24 0 0);
  --inverted-background: oklch(0.7 0 0);
  // Card stylesp
  --card: oklch(0.175 0 0);
  --border-color: oklch(0.25 0 0);
  --outline: oklch(0.3 0 0);

  // Text
  --primary-text: oklch(0.9 0 0);
  --secondary-text: oklch(0.6 0 0);
  --inverted-text: oklch(0.12 0 0);

  // States
  --danger: #dc143c;
  --danger-hover: rgba(220, 20, 60, 0.25);
}

[data-theme='light'] {
  --background: #fcfcfc;

  // Card styles
  --card: #f5f5f5;
  --border-color: #d7d7d7;

  // Text
  --primary-text: #202020;
  --secondary-text: #555555;
}
