// Import all theme variants
@import './themes/default.scss';
@import './themes/lol-classic.scss';
@import './themes/ionia.scss';
@import './themes/targon.scss';
@import './themes/shurima.scss';
@import './themes/bilgewater.scss';
@import './themes/shadow-isles.scss';
@import './themes/freljord.scss';
@import './themes/noxus.scss';
@import './themes/demacia.scss';
