[data-theme='dark'] {
  --background: oklab(0.12 0 0);

  // Card styles
  --card: oklch(0.16 0 0);
  --border-color: oklch(0.2 0 0);

  // Text
  --primary-text: oklch(0.9 0 0);
  --secondary-text: oklch(0.6 0 0);
}

[data-theme='light'] {
  --background: #fcfcfc;

  // Card styles
  --card: #f5f5f5;
  --border-color: #d7d7d7;

  // Text
  --primary-text: #202020;
  --secondary-text: #555555;
}
