$ranks-bg: (
  iron: #374151,
  bronze: #ea580c,
  silver: #6b7280,
  gold: #ca8a04,
  platinum: #14b8a6,
  diamond: #3b82f6,
  master: #a21caf,
  grandmaster: #ef4444,
  challenger: #eab308,
);

$ranks-text: (
  iron: #9ca3af,
  bronze: #fb923c,
  silver: #d1d5db,
  gold: #facc15,
  platinum: #2dd4bf,
  diamond: #60a5fa,
  master: #c084fc,
  grandmaster: #fca5a5,
  challenger: #fde047,
);
