$ranks-bg: (
  iron: rgba(55, 65, 81, 0.35),
  bronze: rgba(234, 88, 12, 0.35),
  silver: rgba(107, 114, 128, 0.35),
  gold: rgba(202, 138, 4, 0.35),
  platinum: rgba(20, 184, 166, 0.35),
  emerald: rgba(80, 200, 120, 0.35),
  diamond: rgba(59, 130, 246, 0.35),
  master: rgba(162, 28, 175, 0.35),
  grandmaster: rgba(239, 68, 68, 0.35),
  challenger: rgba(234, 179, 8, 0.35),
);

$ranks-text: (
  iron: #9ca3af,
  bronze: #fb923c,
  silver: #d1d5db,
  gold: #facc15,
  platinum: #2dd4bf,
  emerald: #50c878,
  diamond: #60a5fa,
  master: #c084fc,
  grandmaster: #fca5a5,
  challenger: #fde047,
);

$ranks-bg-light: (
  iron: #e0e0e0,
  bronze: #fde0bc,
  silver: #d9e2eb,
  gold: #f5efad,
  platinum: #caf3ef,
  emerald: #c9f7d7,
  diamond: #e0e7ff,
  master: #ebdafd,
  grandmaster: #fad8d8,
  challenger: #fcf5a6,
);

$ranks-text-light: (
  iron: #59606e,
  bronze: #e75100,
  silver: #545d70,
  gold: #d19f07,
  platinum: #0eb9a5,
  emerald: #22a34d,
  diamond: #2f71db,
  master: #a21caf,
  grandmaster: #f73434,
  challenger: #d39f04,
);
