.action-btn {
  background-color: transparent;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &.edit-btn {
    &:hover {
      background-color: var(--border-color);
    }
  }

  &.launch-btn {
    width: calc(36px * 2);
    background-color: var(--muted);

    &:hover {
      background-color: var(--border-color);
    }
  }

  &.delete-btn {
    &:hover {
      background-color: var(--danger-hover);
    }
  }
}

.btn-icon-outlined {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: white;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--border-color);
    cursor: pointer;
  }

  img {
    filter: invert(1);
  }
}

.close-btn {
  width: 24px;
  height: 24px;
  margin-bottom: auto;
  cursor: pointer;
  filter: invert(0.75);
  transform: rotateZ(45deg);
  transition: filter 0.3s ease;

  &:hover {
    filter: invert(1);
  }
}

.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;

  &.btn-secondary {
    background: var(--muted);
    color: var(--primary-text);
    transition: background-color 0.25s ease;

    &:hover {
      background-color: var(--border-color);
    }
  }

  &.btn-primary {
    background-color: var(--inverted-background);
    color: var(--inverted-text);
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-danger {
    background-color: var(--danger);
    color: white;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}
