@use 'sass:color';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--background);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 24px;
    width: 500px;
    color: var(--primary-text);

    .modal-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        gap: 8px;
        flex-direction: column;

        h2 {
          font-size: 18px;
        }

        p {
          color: var(--secondary-text);
          font-size: 14px;
        }
      }
    }

    .modal-tabs {
      display: flex;
      background-color: var(--muted);
      border-radius: 8px;
      padding: 4px;

      .tab-btn {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: transparent;

        &.active {
          background-color: var(--background);
          border-radius: 8px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 4px;

      input,
      select,
      textarea {
        background-color: var(--card);
        border: none;
        outline: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 8px 12px;
        resize: none;
        color: var(--primary-text);

        &:focus {
          outline: 2px solid var(--outline);
        }
      }

      label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
      }
    }

    .single-account-form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      // user/pass + server/rank
      > div:nth-child(1),
      > div:nth-child(3) {
        display: flex;
        flex-direction: row;
        gap: 16px;

        & .form-group {
          width: 50%;
        }
      }
    }

    .bulk-import-form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      p {
        display: flex;
        align-items: center;
        font-size: 14px;

        span {
          background-color: var(--muted);
          color: var(--secondary-text);
          filter: brightness(111%);
          padding: 4px 8px;
          margin-inline: 3px;
          font-size: 13px;
          border-radius: 8px;
        }
      }
    }
  }
}
