@use 'sass:map';
@use 'styles/variables' as v;

.test {
  background-color: map.get(v.$ranks-bg, gold);
  color: map.get(v.$ranks-text, gold);
}

.acc-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  background-color: var(--card);
}
