@use 'sass:map';
@use 'styles/variables' as v;

.test {
  background-color: map.get(v.$ranks-bg, gold);
  color: map.get(v.$ranks-text, gold);
}

.acc-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  padding: 16px;
  margin: 16px 0;
  background-color: var(--card);

  .account-info {
    strong {
      color: var(--primary-text);
      font-size: 16px;
      font-weight: 500;
    }

    p {
      color: var(--secondary-text);
      font-size: 14px;
      font-weight: 400;
      padding-top: 3px;
      margin: 0;
    }
  }

  .button-collection {
    display: flex;
    background-color: var(--card);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 4px;

    hr {
      border: 1px solid var(--border-color);
      margin-inline: 8px 8px;
    }
  }
}
