.acc-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  padding: 12px 12px 12px 16px;
  margin: 16px 0;
  background-color: var(--card);

  .account-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 12px;
    gap: 12px;

    .account-details {
      display: flex;
      gap: 8px;

      .profile-icon {
        position: relative;
        margin-inline: 0.5rem 1rem;

        img:nth-of-type(1) {
          border-radius: 999px;
          scale: 0.75;
        }

        img:nth-of-type(2) {
          position: absolute;
          bottom: 15%;
          left: 0;
          scale: 2;
          @at-root .acc-card,
            .acc-card * {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
          }

          & {
            -webkit-user-drag: none;
            -webkit-user-select: none;
            user-select: none;
            outline: none;
          }
        }
      }

      div {
        .mastery-overview {
          position: absolute;
          width: auto;
          height: auto;
        }

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        strong {
          color: var(--primary-text);
          font-size: 16px;
          font-weight: 500;
          display: block;
        }

        p {
          color: var(--secondary-text);
          font-size: 14px;
          font-weight: 400;
          padding-top: 3px;
          margin: 0;

          .server {
            color: var(--secondary-text);
            opacity: 0.8;
          }
        }
      }
    }
  }

  .button-collection {
    display: flex;
    background-color: var(--card);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 4px;

    hr {
      border: 1px solid var(--border-color);
      margin-inline: 8px 8px;
    }

    .action-btn {
      &.launching {
        opacity: 0.6;
        cursor: not-allowed;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    .spinner {
      width: 16px;
      height: 16px;
      border: 2px solid var(--inverted-background);
      border-top-color: var(--outline);
      border-radius: 50%;
      animation: spin 0.6s linear infinite;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
