@if (account()) {
<div class="acc-card">
  <div class="account-info">
    <div class="account-details">
      <div [class]="account()!.rank ? 'profile-icon' : ''">
        <img
          src="https://ddragon.leagueoflegends.com/cdn/15.21.1/img/profileicon/{{
            account()!.profileIconId || 29
          }}.png"
          alt="profile icon"
          width="48"
        />
        @if (account()!.rank) {
        <img
          src="assets/emblems/Wings/{{ getRankName(account()!.rank) }}.png"
          alt="wing"
          width="48"
        />
        }
      </div>

      <div>
        <strong>{{ account()!.name }}</strong>
        <p>
          {{ account()!.username }}
          @if (account()!.server) {
          <span class="server">- {{ account()!.server }}</span>
          }
        </p>
      </div>
    </div>
  </div>

  <div class="button-collection">
    <button class="action-btn delete-btn" (click)="openDeleteModal()" title="Delete Account">
      <img src="assets/icons/trash.svg" alt="Delete" width="16" />
    </button>
    <button class="action-btn edit-btn" (click)="openEditModal()" title="Edit Account">
      <img src="assets/icons/edit.svg" class="icon" alt="Edit" width="16" />
    </button>
    <hr />
    <button
      class="action-btn launch-btn"
      (click)="launchAccount()"
      [disabled]="isLaunching()"
      [class.launching]="isLaunching()"
      title="Launch Account"
    >
      @if (isLaunching()) {
      <div class="spinner"></div>
      } @else {
      <img src="assets/icons/play.svg" class="icon" alt="Launch" width="16" />
      }
    </button>
  </div>
</div>

<!-- Edit Account Modal -->
<app-edit-account-modal
  [isOpen]="isEditModalOpen()"
  [account]="account()"
  (closeModal)="closeEditModal()"
  (accountUpdated)="onAccountUpdated($event)"
></app-edit-account-modal>

<!-- Delete Account Modal -->
<app-delete-account-modal
  [isOpen]="isDeleteModalOpen()"
  [account]="account()"
  (closeModal)="closeDeleteModal()"
  (accountDeleted)="onAccountDeleted($event)"
></app-delete-account-modal>
}
