.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modal-content {
    background: var(--background);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 24px;
    width: 500px;
    color: var(--primary-text);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      font-size: 18px;
    }
  }

  .edit-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 4px;

      label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
      }

      input,
      select {
        background-color: var(--card);
        border: none;
        outline: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 8px 12px;
        color: var(--primary-text);

        &:focus {
          outline: 2px solid var(--outline);
        }
      }
    }

    .form-row {
      display: flex;
      gap: 12px;

      .form-group {
        flex: 1;
      }

      &.display-tag-row {
        .display-name-group {
          flex: 3; // 75%
        }

        .tag-group {
          flex: 1; // 25%
        }
      }
    }
  }

  .modal-actions {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .input-with-icon {
    position: relative;

    input {
      width: 100%;
      padding-right: 40px !important;
      box-sizing: border-box;
    }

    .eye-icon {
      position: absolute;
      right: 10px;
      top: 50%;

      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.2s;

      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }
}
