@if (isOpen()) {
<div class="modal-overlay" (click)="close()" tabindex="0">
  <div class="modal-content" (click)="$event.stopPropagation()" tabindex="0">
    <div class="modal-header">
      <h2>Delete Account</h2>
      <img
        src="assets/icons/plus.svg"
        class="close-btn"
        (click)="close()"
        alt="Close"
        tabindex="0"
      />
    </div>

    <div class="modal-body">
      <p>Are you sure you want to delete this account? This action cannot be undone.</p>
      @if (account()) {
      <div class="account-info">
        <img
          src="https://ddragon.leagueoflegends.com/cdn/15.21.1/img/profileicon/{{
            account()!.profileIconId || 29
          }}.png"
          alt="profile icon"
          class="profile-icon"
        />
        <div class="account-details">
          <strong>{{ account()!.name }}</strong>
          <p>{{ account()!.username }}</p>
        </div>
      </div>
      }
    </div>

    <div class="modal-actions">
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</div>
}
