@use 'styles/colors';
@use 'styles/typography';

// Components
@use 'styles/shared/button';
@use 'styles/shared/rank-pill';
@use 'styles/shared/form-controls';

body {
  background-color: var(--background);
}

.icon {
  color: var(--primary-text);
  transition: filter 0.2s;
}

[data-theme='dark'] .icon {
  filter: none;
}

[data-theme='light'] .icon {
  filter: invert(1);
}
