@if (settingsService.getShowMasteryBackground() && championId()) {
<img
  [src]="'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + championId() + '_0.jpg'"
  class="mastery-bg"
  alt="Mastery Background"
/>
}

<div class="dash-header">
  <h3>My Accounts</h3>
  <div class="header-actions">
    <button class="btn-icon-outlined settings-btn" (click)="openSettings()">
      <img src="assets/icons/settings.svg" class="icon" alt="Settings" width="16" />
    </button>
    <button class="btn-icon-outlined" (click)="addAccount()">
      <img src="assets/icons/plus.svg" class="icon" alt="Add" width="16" />
      Add Account
    </button>
  </div>
</div>

<div class="search-section">
  <div class="search-container">
    <img src="assets/icons/search.svg" alt="Search" class="icon search-icon" width="20" />
    <input
      type="text"
      class="search-input"
      placeholder="Search accounts by name, username, server, or rank..."
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange($event)"
    />
  </div>
</div>

@for (account of filteredAccounts(); track account.id) {
<app-acc-card
  [account]="account"
  (accountUpdated)="onAccountUpdated($event)"
  (accountDeleted)="onAccountDeleted($event)"
/>
}

<!-- Add Account Modal -->
<app-add-account-modal
  [isOpen]="isModalOpen()"
  (closeModal)="closeModal()"
  (accountsAdded)="onAccountsAdded($event)"
/>

<!-- Settings Modal -->
<app-settings-modal
  [isOpen]="isSettingsOpen()"
  [accounts]="accounts()"
  (closeModal)="closeSettings()"
/>
