// Use all theme variants
@use './themes/default.scss';
@use './themes/lol-classic.scss';
@use './themes/ionia.scss';
@use './themes/targon.scss';
@use './themes/shurima.scss';
@use './themes/bilgewater.scss';
@use './themes/shadow-isles.scss';
@use './themes/freljord.scss';
@use './themes/noxus.scss';
@use './themes/demacia.scss';
