@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
span,
strong,
p,
a,
div,
button,
label {
  color: var(--primary-text);
  font-family: 'Geist', sans-serif;
  margin: 0;
}
